*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body{
    color: #fff;
    background: linear-gradient( rgb(36, 25, 51), rgb(0, 0, 0));
    min-height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    width: 100%;
}

.tt{
  width: 100%;
  background-image: url(pngtree-blue-purple-beautiful-starry-universe-galaxy-background-picture-image_1296771.jpg);
}

.tt2{
  
}
.leads{
    text-align: center;
    margin: 60px 35px 35px 60px;
    padding: 20px;
    border-radius: 30px;
    -webkit-box-shadow:6px 0px 10px 20px #8C52FF;
    -moz-box-shadow: 6px 0px 10px 20px #8C52FF;
    box-shadow: 6px 0px 10px 20px #8C52FF;
    font-weight: bold;
    font-size: 2em;
    width: 70%;
}

.leads:hover{
    background-color: #8C52FF;
}
  
  button { 
      width: 100px;
      height: 100px;
  
    font-size: 35;
    width: 1280; 
    height: 500;
    background: rgb(0, 0, 0);
  
    transition: all 0.5s ease-in;
  
    border: none;
    outline:none; 
  
    margin: 3px;
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 44%;
    font-style:inherit;
  
  
  
  margin-top:100px;
  margin-block-end: 100px;
  
  
  }

  
  
  
  .title { color: var(--cor-azul);}
  .texto { color: var(--cor-preto);}
  
  :root {
    --cor-azul: #8C52FF;
    --cor-hover: #ffffff;
  }
  
  .btn {
    
    margin-top:100px;
    padding:0.2em 1em;
    border-radius:50px;
    display:inline-block;
  }
  
  .btn-neon {
    border:4px solid var(--cor-azul);
    position: relative;
    text-transform: capitalize;
    text-align: center;
    text-decoration:none;
    color: var(--cor-azul);
    background-color: transparent;
    cursor: pointer;
    font-size: 5em;
    font-family: 'open_sansregular';
    transition:0.4s;
    text-shadow: 0 0 0.125em rgba(#8C52FF), 0 0 0.25em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--cor-azul), 0 0 0.5em 0 var(--cor-azul);
    width: 1150; 
    height: 100;
  }
  .btn-neon:hover {
    color: var(--cor-hover);
    border:4px solid var(--cor-hover);
    transition:0.4s;
    text-shadow: none;
    text-align: center;
    width: 1150; 
    height: 100;
  }
  .btn-neon:hover:after {
    opacity: 1;
  }
  .btn-neon:hover:before {
    opacity: 1;
  }
  .btn-neon:before, .btn-neon:after {
    content: "";
    position: absolute;
    transition: opacity 500ms linear;
    background-color: var(--cor-azul);
    
  }
  .btn-neon:before {
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.5;
  }
  .btn-neon:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 0.75em 0.25em var(--cor-azul), 0 0 0.75em 1em var(--cor-azul);
    border-radius: 30px;
    opacity: 0;
    
  }
  
  button:hover {
      background-color: rgba(148, 59, 250);
      opacity: 7;
      color:white;
      transform: scale(1.05);
    
  }
  
  .button2:hover {
  background-color: rgba(255, 238, 0, 0.932);
      opacity: 7;
      color:rgb(37, 35, 35);
    
  }
  
  footer{
    text-align: center;
    padding: 20px;
    margin-top: 20vh;
    background-color: rgb(36, 25, 51);
    font-weight: bold;
  }